
<!DOCTYPE html>
{% extends 'admin/admin.html' %}
{% load static %}
{% block content %}
{% load static %}
<html>
  <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKKWH8HMItje4IQTuH8oxruvka0Z99XL8&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 600px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat:{{data.location_latitude}}, lng:{{data.location_longitude}} };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 16,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <h3>Google Maps </h3>
    <!--The div element for the map -->
    {{ obj_list.longtitude }}
    {{ obj_list.latitude }}
    <div id="map"></div>
  </body>
</html>
{% endblock %}