{% extends 'admin/admin.html' %}
{% block content %}
<form>



    <table>
<div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Request</th>
                                                <th>Location</th>
                                                <th>Date</th>
<!--                                                <th>Phone_number</th>-->
<!--                                                <th>Licence_no</th>-->
<!--                                                <th>Whatsapp_number</th>-->
<!--                                                <th>Email</th>-->
<!--                                                <th>Badge_no</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% for i in  requ%}
                                            <tr>
<!--                                                <th>1</th>-->
                                                <td>{{forloop.counter}}</td>
                                                  <td>{{i.user}}</td>
                                                  <td>{{i.request}}</td>
                                                   <td>{{i.location}}</td>
                                                   <td> {{i.date}}</td>
<!--                                                <td><button type="button"  class="btn btn-success">Accept</button> </td>-->
<!--                                                <td><button type="button"  class="btn btn-danger">Reject</button> </td>-->
                                                <td>
                                                        {% if i.approval_status == 0 %}
                                                        <a class="btn btn-secondary" href="{% url 'approve_birequest' i.id %}">Accept</a>
                                                          <a class="btn btn-danger"  href="{% url 'reject_binrequest' i.id %}">Reject</a>
                                                        {% elif i.approval_status == True %}
                                                        <p class="btn-btn-success">Approved</p>
                                                        {% else %}
                                                         <p class="btn-btn-success">Rejected</p>
                                                        {% endif %}
                                                </td>

                                        </tr>
                                        {% endfor %}
<!--                                                <th>1</th>-->
<!--                                                <td>Kolor Tea Shirt For Man</td>-->
<!--                                                <td><span class="badge badge-primary">Sale</span>-->
<!--                                                </td>-->
<!--                                                <td>January 22</td>-->
<!--                                                <td class="color-primary">$21.56</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>2</th>-->
<!--                                                <td>Kolor Tea Shirt For Women</td>-->
<!--                                                <td><span class="badge badge-success">Tax</span>-->
<!--                                                </td>-->
<!--                                                <td>January 30</td>-->
<!--                                                <td class="color-success">$55.32</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>3</th>-->
<!--                                                <td>Blue Backpack For Baby</td>-->
<!--                                                <td><span class="badge badge-danger">Extended</span>-->
<!--                                                </td>-->
<!--                                                <td>January 25</td>-->
<!--                                                <td class="color-danger">$14.85</td>-->
<!--                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    </table>
</form>







{% endblock %}}